/* ----0--9--8--7--6--5--4--3--2--1--1--2--3--4--5--6--7--8--9--0---- //
// ================================================================== //
//                                                                    //
//                             Blue Theme                             //
//                                                                    //
//        A blue, fast and responsive theme for the Bludit CMS.       //
//                                                                    //
//                       For Bludit version 3.x                       //
//                                                                    //
// ================================================================== //
//                                                                    //
//                      Version 3.0 / 09.12.2018                      //
//                                                                    //
//                      Copyright 2018 - PB-Soft                      //
//                                                                    //
//                         https://pb-soft.com                        //
//                                                                    //
//                           Patrick Biegel                           //
//                                                                    //
// ================================================================== */

h2 {
  font-size: 1em;
}

.sticky {
  background-color: rgba(64, 94, 130, 0.8);
  border-bottom: 1px solid #416490;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.2);
  z-index: 1000;
}

.sticky > ul > li > a {
  color: #bde0ff;
}

.sticky > a > i {
  border: solid rgba(189,224,255,.6);
  border-width: 0 4px 4px 0;
}

#jump-top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 20px;
  z-index: 4;
  border: none;
  outline: none;
  background-color: rgba(162, 204, 255, 0.5);
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
}

#jump-top:hover {
  background-color: rgba(162,204,255,1);
}

.arrow-top {
  border: solid #09284e;
  border-width: 0 4px 4px 0;
  float: right;
  margin: 5px 5px 0 5px;
  padding: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.footer-box {
  background-color: #b3c7e0;
  text-align: center;
  height: 60px;
}

.footer-links {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#img-box {
  background-color: #050919;
  display: none;
  height: 100%;
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 3;
}

.img-view {
  bottom: 0;
  height: -moz-max-content;
  height: -webkit-max-content;
  height: -o-max-content;
  height: -ms-max-content;
  height: max-content;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: -moz-max-content;
  width: -webkit-max-content;
  width: -o-max-content;
  width: -ms-max-content;
  width: max-content;
  max-width: 100%;
  max-height: 100vh;
}

#img-big {
  height: auto;
  max-width: 110vh;
  max-height: 100%;
  width: 100%;
}

.close-x:after {
  color: #a9ceec;
  content: "\D7";
  font-size: 50px;
  position: absolute;
  right: 12px;
  top: 0;
  z-index: 1;
}

#img-info {
  color: #a9ceec;
}

@media screen and (max-width:600px){

  #jump-top {
    bottom: 5px;
    right: 5px;
  }

  .title-link {
    color: #bde0ff;
    float: left;
    font-weight: bold;
    line-height: 45px;
    margin-left: 12px;
  }

  .sticky {
    box-shadow: none;
    background-color: transparent;
    border-bottom: none;
  }

  .bar-open {
    background-color: #405e82;
  }

  #img-view {
    padding-top: 20%;
  }
}

@media screen and (max-width:300px){

  #img-view {
    padding-top: 30%;
  }
}
