/* ----0--9--8--7--6--5--4--3--2--1--1--2--3--4--5--6--7--8--9--0---- //
// ================================================================== //
//                                                                    //
//                             Blue Theme                             //
//                                                                    //
//        A blue, fast and responsive theme for the Bludit CMS.       //
//                                                                    //
//                       For Bludit version 2.x                       //
//                                                                    //
// ================================================================== //
//                                                                    //
//                      Version 2.0 / 09.12.2018                      //
//                                                                    //
//                      Copyright 2018 - PB-Soft                      //
//                                                                    //
//                         https://pb-soft.com                        //
//                                                                    //
//                           Patrick Biegel                           //
//                                                                    //
// ================================================================== */

body,
html {
  height: 100%;
}

body,
ul {
  margin: 0;
}

.filter,
.left,
.right,
.middle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#nav-bar,
.header,
.left,
.right,
.middle {
  text-align: center;
}

body {
  background-color: #f7fbff;
  color: #255290;
  font-family: Arial, sans-serif;
}

a {
  color: #2196f3;
  text-decoration: none;
}

ul {
  padding: 0;
}

img {
  height: auto;
  width: 100%;
}

.header {
  background-color: #a6c4ea;
  background-image: url(<?php echo HTML_PATH_THEME_IMG."back.jpg"; ?>);
  background-position-y: bottom;
  background-size: cover;
  height: 40%;
}

.filter {
  background-color: rgba(11,45,95,.2);
  border: 1px solid transparent;
  box-sizing: border-box;
  height: 100%;
}

.title-box {
  color: #bde0ff;
  font-size: 1.5em;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

#nav-bar {
  font-size: .9em;
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.arrow-up {
  border: solid rgba(189,224,255,0);
  border-width: 0 4px 4px 0;
  float: right;
  margin-right: 15px;
  margin-top: 5px;
  padding: 8px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

#nav-button-bar {
  display: none;
}

.bar-closed {
  background-color: transparent;
}

.list-closed {
  display: inline-block;
}

.nav-item,
.nav-item-first {
  display: inline-block;
  padding: 5px 10px;
  text-transform: uppercase;
}

.nav-link {
  color: rgba(189,224,255,.6);
  font-weight: 700;
}

.container {
  display: inline-block;
}

.left,
.right,
.middle {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

.left,
.right {
  background-color: #eff6ff;
  min-height: 300px;
  padding: 15px;
  width: 20%;
}

.left {
  float: left;
}

.middle {
  padding: 20px 50px;
  width: 60%;
}

.right {
  float: right;
}

.column-title {
  font-size: 2.5em;
  color: #bdd0e8;
  margin: 55px 0 84px 0;
}

.page-title {
  font-size: 2.5em;
  margin: 50px 0 0 0;
}

.page-description,
.post-description {
  margin: 10px 0;
}

.page-content {
  line-height: 1.6;
  text-align: justify;
}

.read-more {
  font-size: 14px;
  margin-top: 30px;
}

.page-creation,
.post-creation {
  color: #809dbd;
  font-size: 12px;
}

.page-creation {
  margin-bottom: 35px;
}

.post-creation {
  margin: 10px 0 10px 0;
}

.post-title {
  margin: 5px 0;
}

.post-divider {
  border-style: solid;
  color: #e2e9f1;
  margin: 30px auto;
  width: 80%;
}

.img-right {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 -5px 0 0;
  padding: 0 3px;
  width: 100%;
}

@media screen and (max-width: 1024px) {

  .left {
    width: 30%;
  }

  .middle {
    width: 70%;
  }

  .right {
    width: 100%;
  }

  .img-right {
    width: 33.3333%;
  }
}

@media screen and (max-width: 600px) {

  .bar-closed > .title-link,
  .list-closed,
  .arrow-up {
    display: none;
  }

  .title-box {
    font-size: 1em;
  }

  #nav-bar {
    font-size: 1em;
    padding: 0;
    z-index: 2;
  }

  #nav-button-bar {
    border: 1px solid transparent;
    display: block;
    width: 100%;
  }

  #nav-list,
  .nav-item {
    border-top: 1px solid #92b3dc
  }

  .menu-button {
    height: 35px;
    margin: 10px 6px 0 auto;
    width: 35px;
  }

  .menu-line {
    background-color: #09284e;
    height: 5px;
    margin: 5px 0;
    width: 30px;
  }

  .left,
  .middle,
  .right {
    float: none;
    width: 100%;
  }

  .nav-link {
    width: 100%;
  }

  #nav-list {
    background-color: #5b7da5;
    text-align: left;
  }

  .list-closed {
    display: none;
  }

  .nav-item,
  .nav-item-first {
    display: block;
    padding: 5px;
  }

  .nav-link {
    color: #bde0ff;
    display: inline-block;
    font-size: .9em;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
  }

  .middle {
    padding: 0 15px;
  }

  .img-right {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .img-right {
    width: 100%;
  }
}

@media screen and (min-width: 1800px) {

  .left {
    width: 20%;
  }

  .middle {
    width: 50%;
  }

  .right {
    width: 30%;
  }

  .img-right {
    width: 50%;
  }
}

@media screen and (min-width: 2200px) {

  .left {
    width: 20%;
  }

  .middle {
    width: 45%;
  }

  .right {
    width: 35%;
  }

  .img-right {
    width: 33.3333%;
  }
}
